[submodule "cmake"]
	path = cmake
	url = https://github.com/NOAA-EMC/CMakeModules
	branch = develop
[submodule "tripoletools/CICE5_gridgen"]
	path = tripoletools/CICE5_gridgen
	url = https://github.com/DeniseWorthen/CICE5_gridgen
[submodule "tripoletools/CICE5_ICgen"]
	path = tripoletools/CICE5_ICgen
	url = https://github.com/DeniseWorthen/CICE5_ICgen.git
[submodule "tripoletools/WeightGen"]
	path = tripoletools/WeightGen
	url = https://github.com/DeniseWorthen/WeightGen.git
